<!DOCTYPE html>
<html lang="en">
{% load blog_tags %}

{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <title>{%block title_block%} {% endblock %}</title>

</head>
<body>


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Purushottam</a>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About us</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <h1 align="center" padding="10px">Purushottam Blog</h1>

    <div class="content">
        {%block content_block%}
        {%endblock%}
    </div>

    <div class="sidebar">
        <h1>Purushottam's Blog</h1>

        <p>Total Number of posts till date {%postcount%}</p>
        <h2>Latest post </h2>

        {% latest_post 5%}

        {%block side_block%}

        {% endblock %}
    </div>


 <footer>
  <p id="foot"  class="btn btn-large">Author: Purushottam Kaushik</p>
  <p  align="center" ><a href="mailto:purushottamkaushik96@gmail.com" >purushottamkaushik96@gmail.com</a></p>
</footer>
</body>
</html>